.primer{
    border:solid 1px #a5c41b;
    border-radius: 10px;
    padding:3px 40px 3px 40px ;
    color: #707c1d;
    background-color: #fff;
    margin:1px;
}
.Circulo{
    background-color: #00ffff;
    border-radius: 50%; 
    border-style: none;
    color:white;
    margin-top: 10px;
}
.tercero{
    color: #fff;
    border: solid 1px rgb(20, 20, 20);
    background-color: turquoise;
    box-shadow: 5px 2px 1px 1px black;
    margin-top:10px;
}